.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  width: 50%; /* Set the width of the popup to 70% of the viewport width */
  height: 50%; /* Set the height of the popup to 70% of the viewport height */
  z-index: 1;
}

.Popup-header {
  background-color: #282c34; /* Set the background color of the header */
  color: white; /* Set the text color of the header */
  padding: 20px; /* Add padding inside the header */
  height: 91.5%; /* Set the height of the header to 30% of the popup height */
  border-top-left-radius: 5px; /* Add rounded corners to the top left of the header */
  border-top-right-radius: 5px; /* Add rounded corners to the top right of the header */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

.form-label {
  display: block;
  margin-bottom: 8px; /* Adjusts space between label and next element */
  padding: 10px; /* Adjusts space inside the label around its content */
}

.form-input {
  font-size: 20px;
  margin: 8px 0; /* Adds space above and below the input field */
  margin-left: 10px; /* Adds space to the left of the input field */
}

.form-button {
  font-size: 18px; /* Adjusts the font size inside the button */
  padding: 10px 20px; /* Adds padding inside the button for width and height */
  margin: 10px 0; /* Adds margin above and below the button */
  background-color: #4CAF50; /* Sets the background color of the button */
  color: white; /* Sets the text color inside the button */
  border: none; /* Removes the default border */
  cursor: pointer; /* Changes the cursor to a pointer on hover */
  border-radius: 5px; /* Adds rounded corners to the button */
}

.form-button:hover {
  background-color: #45a049; /* Darkens the button on hover for a visual effect */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}